body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.container-select {
    /* border: solid 1px red; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.container-select .title {}

.container-select .content-select {
    display: flex;
    flex-direction: row;
}

.select {
    /* border: solid 1px red; */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 5px;
    flex: 1;
}

select {
    margin: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}