// Import các thư viện hoặc biến cần thiết ở đây (nếu có)

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

button {
    max-width: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .header {
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .chuanghira {
        // border: solid 1px red;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
    }

    .title {
        font-size: 1.3em;
        margin: 5px;
    }

    .content {}

    .container-select {

        .title-select {}

        .option {
            // border: solid 1px red;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 10px;

            button {
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
                cursor: pointer;
                border: none;
                margin-right: 10px;
            }

            button:hover {
                // background-color: #f2f2f2;
            }

            button.active {
                // margin-top: 10px;
                background-color: #4CAF50;
                color: white;
                // padding: 5px 10px;
                // font-size: 14px;
                // line-height: 1.5;
            }

            .limit {
                margin-left: 10px;
                padding-top: 3px;

                input[type="number"] {
                    max-width: 40px;
                    border: none;
                    border-bottom: 1px solid #ccc;
                    outline: none;
                    text-align: center;
                    font-size: 15px;
                }
            }
        }

        .content-select {
            display: flex;

            .select {
                // border: solid 1px red;
                padding: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin: 10px;
                border-radius: 5px;
                flex: 1;

                .database,
                .table {}

            }

            select {
                margin: 5px;
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }
    }


    .container-display-db {
        .content-display-db {

            .content-data-describe {

                button {
                    margin-top: 15px;
                    margin-left: 10px;
                    // margin-right: 10px;
                    padding: 5px 10px;
                    font-size: 14px;
                    border-radius: 4px;
                    cursor: pointer;
                    background-color: #f2f2f2;
                    border: 1px solid #ddd;
                    line-height: 1.5;
                }

                button.active {
                    margin-top: 10px;
                    background-color: #4690ff;
                    color: white;
                    padding: 5px 10px;
                    font-size: 14px;
                    line-height: 1.5;
                }


                .container-data {
                    display: flex;
                    flex-direction: column;

                    .data {
                        // margin: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .table {
                            width: 100%;
                            padding: 10px;
                        }
                    }
                }

                .container-describe {
                    display: flex;
                    flex-direction: column;

                    .describe {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .table {
                            width: 100%;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }

    .container-compare {
        .title-compare {}

        .content-compare {}
    }

}